
        body {
          padding-top: 50px;
        }
        .starter-template {
          padding: 40px 15px;
        }
        .row,form,.bot {
          margin-bottom: 10px;
        }
        .input-title {
          font-size: 36px;
          font-weight: 500;
          line-height: 1.1;
          height: 50px;
        }
        .fileinput-button {
          position: relative;
          overflow: hidden;
        }
        #thumbnailfile {
        width: 80px;
        left: 0px;
        height: 80px;
        top: -37px;
        position: absolute;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate(-300px, 0) scale(4);
        font-size: 23px;
        direction: ltr;
        cursor: pointer;
        }
        .attach-file {
        width: 119px;
        left: 20px;
        height: 20px;
        top: 79px;
        position: absolute;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate(-300px, 0) scale(4);
        font-size: 23px;
        padding-right: 20px;
        direction: ltr;
        cursor: pointer;
        }

span.twitter-typeahead { width: 100%; }      

    .tt-dropdown-menu {
      min-width: 160px;
      margin-top: 2px;
      padding: 5px 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.2);
      *border-right-width: 2px;
      *border-bottom-width: 2px;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
         -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
              box-shadow: 0 5px 10px rgba(0,0,0,.2);
      -webkit-background-clip: padding-box;
         -moz-background-clip: padding;
              background-clip: padding-box;
    }
    
    .tt-suggestion {
      display: block;
      padding: 3px 20px;
    }
    
    .tt-suggestion.tt-is-under-cursor {
      color: #fff;
      background-color: #0081c2;
      background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
      background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
      background-image: -o-linear-gradient(top, #0088cc, #0077b3);
      background-image: linear-gradient(to bottom, #0088cc, #0077b3);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
    }
    
    .tt-suggestion.tt-is-under-cursor a {
      color: #fff;
    }
    
    .tt-suggestion p {
      margin: 0;
    }
    
    .twitter-typeahead .tt-hint {
        display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.1;
        border: 1px solid transparent;
        top: -8px !important;
    }      

    .thing.panel {
        display: inline-block;
        float: left;
        width: 350px;
        margin-right: 10px;
    }
 
    .thing.panel .panel-body {
        height: 150px;
    }

    .thing.panel .panel-footer .row {
        margin-bottom: 0px;
    }

    .thing.panel h2 {
        margin-top: 0px;
        
    }

    .ui-sortable .array .sortable-handle {
        cursor: move;
    }
