<div class="row">
  <div class="col-lg-1">
    <img data-src="holder.js/80x80" alt="thumbnail" bs-holder>
  </div>
  <div class="col-lg-6">
      <input id="name" type="text" class="form-control input-title" placeholder="Enter the name of this thing" ng-model="thing.name">
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row">
  <div class="col-lg-7">
    <div class="input-group">
      <input id="fields" type="text" class="form-control" placeholder="Enter a space separated list of fields" ng-model="fieldNames">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="createFields()">Create!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-7">
    <form role="form">
      <div class="form-group" ng-repeat="field in fields">
        <label for="{{field.name}}">{{field.label}}</label>
        <input type="{{field.type}}" class="form-control" id="{{field.name}}" ng-model="thing[field.name]">
      </div>
      <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="saving">Save</button>
    </form>

    <div class="panel panel-default">
      <div class="panel-body">
        <pre>{{ thing | json }}</pre>
      </div>
    </div>
  </div>
</div>
