<div class="row" ng-repeat="file in values(thing[field.name]) tryck by trackValues(field,$index)">
  <div class="col-lg-2">
    <span class="fileinput-button">
       <img class="media-object" width="80" alt="thumbnail" style="display: inline; margin-bottom: 10px;" ng-src="{{file.thumbnail | nvl: '/img/80x80.gif'}}">
    </span>
  </div>
  <div class="col-lg-10">
    <div class="input-group">
      <input type="{{field.type}}" class="form-control" ng-model="file.name">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action... <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right" ng-include="'/views/fields/menu.html'">
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
