<li><a ng-click="addValue(field)">Add value...</a></li>
<li><a ng-click="rmValue(field,$index)">Remove value...</a></li>
<li class="divider"></li>
<li><a>Upload...</a><input class="attach-file" type="file" name="{{field.name}}_attach" data-field-name="{{field.name}}" data-index="{{$index}}" multiple></li>
<li><a href="{{fileData(file)}}" download="{{file.name}}" ng-show="values(thing[field.name])[$index].size">Download...</a></li>
<li class="divider"></li>
<li><a href="#">Text</a></li>
<li><a href="#">Number</a></li>
<li><a href="#">Date</a></li>
<li><a href="#">Embedded thing</a></li>
<li><a href="#">Thing</a></li>
<li><a href="#">Markdown</a></li>
<li><a href="#">Image</a></li>
<li><a href="#">Video</a></li>
<li><a href="#">File</a></li>
<li class="divider"></li>
<li><a href="#">List</a></li>
<li class="divider"></li>
<li><a href="#">Somenthing new...</a></li>
